
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}

/*additional sidenav menu styles*/

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#cookie-note {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.cookie-message {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 80%;
	background-image: url(https://images.pexels.com/photos/301972/pexels-photo-301972.jpeg?auto=compress&cs=tinysrgb&h=350);
	background-size: cover;
	background-position: center;
	color: white;
	margin: 0 auto;
	border-radius: 20px;
	border: 2px solid red;
	margin-top: 300px;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: lighter;
	text-align: center;

}
.cookie-title {
	margin-top: 30px;
}

.cookie-text {
	padding: 40px;
}

.close-cookies {
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 25px;
}


/* sticky header class  */

.sticky {
  position: sticky;
  top: 0;
  width: 100%
}

* {
box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	background-color: white;
	z-index: 0;
	transform: translateX(0);
	transition: transform ease-in-out 0.5s;

}

body.is--menu-open  {
transform: translateX(-280px);
overflow: hidden;
}

html {
	max-width: 100%;
	background-color: #333645;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  font-family: sans-serif;
}

.header-section {
	z-index: 100;
	
}

/* checkbox for animation/transition */

#nav--click {
	display: none;
}

 /* Header Styles */

.outer-wrapper {
	width: 100%;
	background-color: white;
	
}
.inner-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: space-around;

}

.header-logo {
	height:25px;
	width:150px;
	padding-left: 10px;
}

@media only screen and  (min-width: 768px) and (max-width: 991px) {
	.header-logo {
	height: 50px;
	width: 300px;
	padding-left: 10px;
}
}

@media only screen and (min-width: 992px) {
	.header-logo {
		height:75px;
		width:450px;
	}
}

.logo-container {
	flex-grow: 1;
}



@media only screen and (min-width: 992px) {
	.logo-container {
		flex-grow: 3;
	}
}

/* nav menu buttons */

.btn-support {
	display: none;
	border: none;
	padding:10px 15px;
}

.btn-support > p {
	text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
	.btn-support {
	display: flex;
	background: #4183d7;
	color: #fff;
	align-items: center;
	border: none;

	}
	.btn-support > p {
	padding:5px 10px;
	margin: 5px;
	

	}
}

.btn-contact {
	background: none;
    color: #333645;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0px;
    padding:10px 15px;

}

.btn-contact > p {
	text-transform: uppercase;
}

.fa-paper-plane {
	font-size: 24px;
}

.fa-phone-square {
	font-size: 30px;
}


@media only screen and (min-width: 992px) {
	.btn-contact {
	display: flex;
	background: #999aa2;
	align-items: center;
	color: #fff;
	font-size: initial;
	}
	.btn-contact > p {
	padding-left: 15px;
	margin: 5px;
	}
}

.btn-contact > p {
	display: none;
}

@media only screen and (min-width: 992px) {
	.btn-contact > p ,.btn-contact > .fas {
	display: flex;
	padding:5px 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.btn-contact {
		display: none;
	}
}

/* Animated burger menu */

.nav-box {
  display: flex;
  min-height: 50px;
  min-width: 50px;
  border-radius: 5px;
  background-color: #333645;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 35px;
  width: 40px;
}

.bar {
  width:40px;
  height: 5px;
  background-color:white;
  transition: all .4s;
  transition-delay: 0.4s;
}

/* Burger animation */

body.is--menu-open > .header-section .nav-box .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px) ;
}



body.is--menu-open >.header-section .nav-box .bar2 {
  opacity: 0; ;
}

body.is--menu-open >.header-section .nav-box .bar3 {
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Nav Styles*/

.main-nav-wrapper {
	display: none;
	width: 	100%;
	justify-content: center;
	background-color: #333645
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-nav-wrapper {
	display: none;
	}
}

@media only screen and (min-width: 1200px) {
	.main-nav-wrapper {
	display: flex;	
	}
}

.main-nav {
	display: none;
}

@media only screen and (min-width: 992px) {
	.main-nav {
	display: flex;
	}
}

@media only screen and (min-width: 992px) {	
	.nav-section {
		display: flex;
	}
	.main-nav {
	display: flex;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	}

}

.nav-itemsside {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	padding-top: 30px;
	margin-top: 0px;
}
.menu-title {
	padding-top: 30px;
	margin:0px;
	text-transform: uppercase;
	font-family: sans-serif;
	line-height: 25px;
}

.subnav1side,
.subnav2side,
.subnav3side,
.subnav4side,
.subnav5side,
.subnav6side {
	list-style-type: none;
	padding-left:0px;
	width: 80%;
	margin: 20px auto;
	border-radius: 5px;
	background-color: #232530;
}

.sidenav-title-wrapper {
    background-color: #333645;;
	width: 80%;
	margin: 0 auto;
	padding: 5px 0;
	border-radius: 5px;
	border: 1px solid #444;
	padding: 20px 0px;
	background: radial-gradient( #333645, 99% , #383a44);
}

.sidenav-title-wrapper:hover {
	background: radial-gradient( #474a57, 99% , #383a44);
}

.sidenav-title-wrapper > span {
	color :#926fb1;
}

.subnav-itemside {
	margin:0px;
	border-bottom: 1px solid #191b22;
	background: linear-gradient( #232530, 99% , #383a44);
}

.subnav-itemside:last-of-type {
	border-bottom: none;
}

.subnav-itemside > p {
	text-transform: uppercase;
	font-family: sans-serif;
	margin: 0px;
	padding: 10px 0px;
}


.nav-section {
	background-color:transparent;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -5;
}
.nav-items {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #333645;
	color: white;
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 0px;
	font-family: sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0px;
}

.nav-title {
	margin: 0;
	padding: 10px 0px;
}

.nav-item {
	display: flex;
	flex: 1;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	border-right: 1px solid #444;
}
.sidenav-item {
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	flex-direction: row;
	background-color: #1d1f28;
	font-size: 16px;
	text-transform: capitalize;
	padding:15px;
	padding-left: 30px;
	align-items: flex-start;
	justify-content: flex-start;
	border-right: 1px solid grey;
	border-bottom: 1px solid black;
	background: linear-gradient( #232530, 99% , #383a44);
}

.sidenav-item > p {
	padding-right: 20px;
}

.fa-chevron-right {
	margin: 5px;
	font-size: 10px;
	margin-right: 20px;
}

.nav-item:last-of-type {
	border-right: none;
}

.nav-item p {
	margin: 0px;
}


.nav-item:hover > ul {
	display: flex;
}

.nav-item:hover .nav-icon {
	color: white;
}

.nav-item:hover .nav-icon > .fas{
	color: white;
}

.item1:hover {
	background-color: #926fb1;
}

.item2:hover {
	background-color: #4183d7;
}
.item3:hover {
	background-color: #d64541;
}
.item4:hover {
	background-color: #67809f;
}
.item5:hover {
	background-color: #2eec71;
}
.item6:hover {
	background-color: #f62459;
}



.nav-icon {
	text-align: center;
	color: #926fb1;
	padding: 10px;
	height: 100%;
}


.subnav1,
.subnav2,
.subnav3,
.subnav4,
.subnav5,
.subnav6 {
	display: none;
	position: absolute;
	bottom: -38px;
	left: 0px;	
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
	padding-left: 0px;
	z-index:100;
	left: 0;
	right: 0;
	margin-left: -500px;
	margin-right: -500px;
	padding-left: 500px;
	padding-right: 500px;

}

.subnav {
	padding: 0px;
}

.subnav-item {
	padding: 10px 0px;
	position: relative;
}

.nav-title {
	margin: 0px;
	background-color: #333645;;
	padding-left: 20px;
	background: linear-gradient( #474a57, 99% , #383a44);
	border-bottom: 1px solid #444;
	border-top: 1px solid #444;

}


/* Header Styles */

.header-sidenav {
	display: flex;
	flex-direction: column;
	position: sticky;
	color: white;
	width: 300px;
	top: 0px;
	margin-left: auto;
	z-index: -10;
	transform: translateX(0px);
	transition: transform ease-in-out 0.5s;
}

body.is--menu-open > .nav-section >.header-sidenav {
	transform: translateX(300px);
	overflow-y: auto;
	height: 800px;
	background-color: #333645;

}

@media only screen and (min-width: 1200px) {
	body.is--menu-open > .nav-section >.header-sidenav {
	transform: translateX(300px);
	overflow-y: auto;
	height: 800px;
	background-color: #333645;
	}
}

@media only screen and (min-width: 992px) {
	.main-navside {
		display: none;
	}
}

.main-sidenav {
	position: sticky;
}


.nav-top {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding:0px;
	margin:0px;
	width: 100%;
	
}

.nav-heading {
	width: 100%;
}

.subnav li {
	border: none;
}

.nav-heading {
	font-size: 20px;
	font-family: sans-serif;


}

/* Hero Styles */

.hero-image {
	height: 720px;
}
@media only screen and (min-width: 992px) {
	.hero-image  {
	width: 100%;
	}
}

.hero-section {
	background-color: white;
	overflow: hidden;
	height: 720px;

}

.hero-container {
	width: 100%;
	display:flex;
	flex-direction: column;	
	font-family: sans-serif;
	overflow: hidden;
	background-color: white;
}

.hero-contentbox {
	display: flex;
	flex-direction: column;
	position: absolute;
	font-family: sans-serif;
	top: 140px;
	width: 100vw;
	color: white;
	justify-content: space-around;
	align-items: center;

}
@media only screen and (min-width: 992px) {
	.hero-contentbox {
	display: flex;
	flex-direction: column;
	position: absolute;
	font-family: sans-serif;
	top: 140px;
	margin-left: 300px;
	color: white;
	justify-content: space-around;
	align-items: flex-start;

	}
}

.hero-heading {
	margin-bottom: 25px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}
@media only screen and (min-width: 992px) {
	.hero-heading {
	margin-bottom: 5px;
	font-size: 50px;
	text-transform: uppercase;
	}
}

.hero-content {
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 25px;
	padding: 10px;

}
@media only screen and (min-width: 992px) {
	.hero-content {
	font-size: 20px;
	line-height: 28px;
	text-align: initial;
	margin-bottom: 25px;

	}
}

.your-class > div {
	position: relative;

}


/* Button Styles */

.btn {
	border-radius: 5px;
	margin:0 20px;
	font-family:sans-serif;
}

.btn-hero {
	font-family: sans-serif;
	font-weight: lighter;
	margin-bottom: 20px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	padding: 15px 25px;
	width: max-content;
	border: 0px;
	border-radius: 5px;

}

@media only screen and (min-width: 992px) {
	.btn-hero {
	font-family: sans-serif;

	margin-bottom: 20px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	padding: 20px 25px;
	width: max-content;
	border: 0px;
	border-radius: 5px;

}
}



.btn-action {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	background-color: grey;
	margin-bottom: 20px;
	color: white;
	padding: 15px 25px;
	text-transform: uppercase;
}

.btn-latest {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-start;
	margin-bottom: 20px;
	color: white;
	padding: 15px 25px;
	margin-left: 0px;
}

.btn-support:hover {
	background-color: #3a75c1;
}


@media only screen and (min-width: 992px) {
	.btn-contact:hover {
		background-color: #7a7b81;
	}	
}


.btn-culture {
	align-self: center;
	font-family:sans-serif;
	background-color: white;
	color:  #444;
	border: none;
	margin-left: 0px;
	padding: 15px 25px;
	text-transform: uppercase;
	font-weight: lighter;
}

.fa-arrow-right {
	padding-left: 10px;
}

/* Color classes */


.purp {
	color: #926fb1;
}
.purp-bg {
	background-color: #926fb1;
}

.blue {
	color: #4183d7;
}
.blue-bg {
	background-color: #4183d7;
}

.red {
	color: #d64541;
}
.red-bg {
	background-color: #d64541;
}

.grey {
	color: #67809f;
}
.grey-bg {
	background-color: #67809f;
}

.green {
	color: #2eec71;
}
.green-bg {
	background-color: #2eec71;
}

.pink {
	color: #f62459;
}
.pink-bg {
	background-color: #f62459;
}

.dark {
	color: black;
}

/* Card Styles */

.main-section {
	width: 100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.section-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

	}

.wide {
	width: 90%;
}
@media only screen and  (min-width: 768px) and (max-width: 991px) {
	.wide {
		width: 45%;
		margin-right: auto;
		margin-left: auto;
	}
}

@media  only screen and (min-width: 992px) {
	.wide {
		width: 45%;
		margin-right: auto;
		margin-left: auto;
	}
}

.medium {
	width: 90%;
}

@media only screen and  (min-width: 768px) and (max-width: 991px) {
	.medium {
		width: 45%;
		margin-right: auto;
		margin-left: auto;
	}
}

@media only screen and (min-width: 992px) {
	.medium {
	width: 30%;
	}
}

.narrow {
	width: 90%;
}
@media only screen and  (min-width: 768px) and (max-width: 991px) {
	.narrow {
		width: 45%;
		margin-right: auto;
		margin-left: auto;
	}
}

@media  only screen and (min-width: 992px) {
	.narrow {
		width: 20%;
		margin-right: auto;
		margin-left: auto;
	}
}

.card-main, .card-news {
	display: flex;
	border-radius: 20px;
	flex-direction: column;
	justify-content: center;
	background-color: #F5F5F5;
	border-radius: 5px;
	margin-bottom: 30px;
	margin-top: 30px;
	border: 1px solid lightgrey;
	 -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

@media only screen and  (min-width: 768px) and (max-width: 991px) {
	.card-news:last-of-type {
		display: none;
	}
}

@media only screen and (min-width: 992px) {
	.card-main {
	margin-right: auto;
	}
}


#web-design:hover {
	background-color: #926fb1;	
}
#web-design:hover > .card-logo,
#web-design:hover > .card-title:after,
#web-design:hover > .card-body > a {
	background-color: #F5F5F5;	
}
#web-design:hover > .card-logo > .fas,
#web-design:hover > .card-logo > span,
#web-design:hover > .card-body > a > span {
	color: #926fb1;	
}

#web-design:hover > .card-title,
#web-design:hover > .card-body > .card-text {
	color: #F5F5F5;	
}
#it-support:hover {
	background-color: #4183d7;	
}
#it-support:hover > .card-logo,
#it-support:hover > .card-title:after,
#it-support:hover > .card-body > a {
	background-color: #F5F5F5;	
}
#it-support:hover > .card-logo > .fas,
#it-support:hover > .card-logo > span,
#it-support:hover > .card-body > a > span {
	color: #4183d7;	
}

#it-support:hover > .card-title,
#it-support:hover > .card-body > .card-text {
	color: #F5F5F5;	
}
#telecoms:hover {
	background-color:#d64541;	
}
#telecoms:hover > .card-logo,
#telecoms:hover > .card-title:after,
#telecoms:hover > .card-body > a {
	background-color: #F5F5F5;	
}
#telecoms:hover > .card-logo > .fas,
#telecoms:hover > .card-logo > span,
#telecoms:hover > .card-body > a > span {
	color: #d64541;	
}

#telecoms:hover > .card-title,
#telecoms:hover > .card-body > .card-text {
	color: #F5F5F5;	
}
#bespoke:hover {
	background-color:#67809f;	
}
#bespoke:hover > .card-logo,
#bespoke:hover > .card-title:after,
#bespoke:hover > .card-body > a {
	background-color: #F5F5F5;	
}
#bespoke:hover > .card-logo > .fas,
#bespoke:hover > .card-logo > span,
#bespoke:hover > .card-body > a > span {
	color: #67809f;	
}
#bespoke:hover > .card-title,
#bespoke:hover > .card-body > .card-text {
	color: #F5F5F5;	
}
#digital:hover {
	background-color:#2eec71;	
}
#digital:hover > .card-logo,
#digital:hover > .card-title:after,
#digital:hover > .card-body > a {
	background-color: #F5F5F5;	
}
#digital:hover > .card-logo > .fas,
#digital:hover > .card-logo > span,
#digital:hover > .card-body > a > span {
	color: #2eec71;	
}

#digital:hover > .card-title,
#digital:hover > .card-body > .card-text {
	color: #F5F5F5;	
}
#cyber:hover {
	background-color:#f62459;	
}
#cyber:hover > .card-logo,
#cyber:hover > .card-title:after,
#cyber:hover > .card-body > a {
	background-color: #F5F5F5;	
}
#cyber:hover > .card-logo > .fas,
#cyber:hover > .card-logo > span,
#cyber:hover > .card-body > a > span {
	color: #f62459;	
}

#cyber:hover > .card-title,
#cyber:hover > .card-body > .card-text {
	color: #F5F5F5;	
}


.card-top {
	width: 100%;
	height: 50%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	padding: 0 40px;

}

.card-logo {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	font-size: 30px;
	color: white;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	margin:30px;
}

.card-text {
	padding: 0px;
	margin:0px;
	font-family: sans-serif;
	font-size: 16px;
	color: #666666;
	padding: 20px 0px;
	text-align: left;

}

.card-imagecontainer {
	overflow: hidden;
	position: relative;
}

.card-img-top {
	height: 100%;
	width: 100%;
	transform: scale(1);
	transition: transform .2s ease-in-out;
}

.card-img-top:hover {
	transform: scale(1.3);
}

.card-title {
	color: white;
	font-family: sans-serif;
	align-self: center;
	font-size: 20px;
	margin: 0px;
	color: #666666;
}

.card-title:after {
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    display: block;
    background-color: #333645;	
    margin-top: 10px;
}


.title {
	font-family: sans-serif;
	font-size: 20px;
	margin-top: 0;
}

.card-news .card-body h5 {
	padding-top: 30px;
	text-align: left;
	font-style: italic;
}

.fab {
	font-size: 40px;
	margin:10px;
}
 .fab:first-of-type {
 	margin-left: 0px;
 }

/* About Styles */

.about-container {
	
	padding-bottom: 40px;
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
	.about-container {
		width: 1200px;
		margin: 0 auto;
	}
}




.about-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	background-color: #333645;
	background-size: cover;
	background-position: left center;
	padding-bottom:50px;
	padding: 20px;
}

.about-heading {
	font-family: sans-serif;	
	color: white;
	font-size: 40px;
	margin-bottom: 20px;
}

.about-content {
	max-width: 600px;
	font-family: serif;
	font-size: 16px;
	color: white;
	margin-top: 5px;
	padding-bottom: 20px;
	font-family: 'Poppins', sans-serif;
}

/* News Styles */

.news-section {
	width: 100%;
	background-color: white;
	background: linear-gradient( 0deg, white, 99% ,#eaeaec);
	}

.news-wrapper {
	max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
}

@media only screen and (min-width: 992px) {
	.news-wrapper {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		background-color: white;
	}
}


.news-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media only screen and  (min-width: 768px) and (max-width: 991px) {
	.news-cards {
		flex-direction: row;
		margin-right: auto;
		margin-left: auto;
	}
}

@media only screen and (min-width: 992px) {
	.news-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: linear-gradient( 0deg, white, 99% ,#eaeaec);
	}
}

.newstitle-wrapper {
	background-color: white;
}

@media screen and (min-width: 1200px) {
	.newstitle-wrapper {
	width: 1200px;
	margin: 0 auto;
	}
}

.news-heading {
	font-size: 22px;
	font-family: sans-serif;
	display: block;
	width: fit-content;
	color: #333645;
	margin-left: 20px;
	text-transform: uppercase;
	vertical-align: bottom;
	margin-bottom: 0px;
}

@media only screen and (min-width: 992px) {
	.news-heading {
	margin-left: 100px;
	}
}

@media screen and (min-width: 1200px) {
	.news-heading {
	margin-left: 0px;
	}
}

.circle-image > img {
	border-radius: 50%;
	padding: 10px;
	padding-left: 0px;
	padding-right: 20px;
}


.news-heading:after {
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 79px;
    height: 3px;
    display: block;
    background-color: #333645;
    margin-top: 10px;
}

.newscard-image-container {
	display:flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	padding: 20px;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 14px;
	padding: 20px 0px;
	border-top: 1px solid #666666;
	margin-top: 20px;


}

.newscard-content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.posted-on {
	margin: 0px;
	padding-bottom: 5px;
	font-weight: bold;
	text-align: left;
	font-size: 14px;
}

.card-date {
	margin: 0px;
	align-self: flex-start;
	color: #666666;
}


.news-accent {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 90;
	right: 0px;
	color: white;
	font-family: sans-serif;;
	text-transform: uppercase;
	margin-top: 20px;
	padding-right: 10px;
	padding-left: 10px
}

.accent-content {

}

/* Partners Styles*/

.partners-section {
	display: none;
	padding-bottom: 70px;
	
}
.reduced-size {
	height: 70px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.partners-section {
		display: flex;
		width: 100%;
		padding:25px 0px;
		padding-bottom: 70px;
		background-color: white;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.footer-partners {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
}

@media only screen and  (min-width: 1200px) {
	.partners-section {
		display: flex;
		width: 100%;
		padding:25px 0px;
		padding-bottom: 70px;
		background-color: white;
	}
}

@media only screen and  (min-width: 1200px) {
	.footer-partners {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}
}



/* Clients Styles*/

.clients-section {
	display: none;

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.clients-section {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding:25px 0px;
		padding-top: 80px;
		width: 100%;
		background-color: white;
		background: linear-gradient( 0deg, white, 99% ,#eaeaec);
	}
}

@media only screen and  (min-width: 1200px) {
	.clients-section {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding:25px 0px;
		padding-top: 80px;
		width: 100%;
		background-color: white;
		background: linear-gradient( 0deg, white, 99% ,#eaeaec);
	}
}



.client-logo {
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
  	transition: filter .3s;
  	padding-bottom: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.client-logo {
		height: 80%;
		width: 70%;
	}
}

.client-logo:hover {
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

.client-logo:hover ~.client-wrap{
	display: flex;
}

.partner-icons {
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
  	transition: filter .3s;
}

.partner-icons:hover {
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}

.client {
	position: relative;
	display: flex;
	justify-content: center;
}


.client-wrap {
	position: absolute;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	bottom: 150px;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #333645;
	color: white;
	width: 250px;
	text-align: center;
	padding: 20px;
}

@media only screen and  (min-width: 1200px) {
	.client-wrap {
		position: absolute;
		font-family: 'Poppins', sans-serif;
		font-size: 14px;
		bottom: 175px;
		display: none;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: #333645;
		color: white;
		width: 250px;
		text-align: center;
		padding: 20px;
	}
}

.client-wrap:after {

    border-top: 80px solid #333645;
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
    bottom: -50px;
    content: "";
    position: absolute;
    left:35%;
    margin-left: -21px;
    width: 0; 
    height: 0;
}

.client-title:after {
	 content: '';
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 89px;
    height: 3px;
    display: block;
    background-color: white;
    margin-top: 10px;
}


/* Footer Styles */

.footer-section {	
	width: 100%;
	background-color: #333645;
;
}
.footer-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	font-family: sans-serif;
	font-weight: lighter;
	line-height: 10px;
}

.footer-inner > h3 {
	font-weight: lighter;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.footer-inner {
	flex-direction: row;
	justify-content: space-around
	}
}

@media screen and (min-width: 1200px) {
	.footer-inner {
	flex-direction: row;
	padding: 0px;
	}
}

@media screen and (min-width: 1200px) {
	.footer-divider {
		display: flex;
		justify-content: space-between;	
		width: 	100%;
		padding: 25px;
	}
}




.footer-contact,
.footer-about,
.footer-website,
.footer-social {
	color: white;
	padding: 20px 0;
}

.footer-social {
	width: 100%;
}
@media screen and (min-width: 1200px) {
	.footer-social {
	width: 50%;
}
}

.social-icons {}
.footer-partners {
	display:flex;
	align-items: center;
	padding: 20px;
}

.fab {
	font-size: 40px;
	margin:10px;
}
 .fab:first-of-type {
 	margin-left: 0px;
 }


.social-title {
	margin-bottom: 35px;
}

.footer-icons {
	
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.social-icon-wrapper {
	display: flex;
	justify-content: center;
	width: 45%;
	background-color: #1e2029;
	margin-bottom: 25px;

}

#face:hover {
	background-color: #3B5998;
	cursor: pointer;
}

#twit:hover {
	background-color: #00aced;
	cursor: pointer;
}

#goog:hover {
	background-color: #d34836;
	cursor: pointer;
}

#in:hover {
	background-color: #0077B5;
	cursor: pointer;
}

.footer-icons {
	display: flex;
	flex-direction: row;
}

